includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - includes
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        # Declares QUICKPOSTR_PATH/URL/VERSION (function-valued defines PHPStan
        # can't evaluate statically from quickpostr.php).
        - .phpstan/bootstrap.php
    excludePaths:
        - vendor
        - node_modules
        - build
        - tests (?)
